Topology File: Toolbox/Sergi/prisma2_fixed.ten
Num. CM Nodes:3
CM Nodes:node2,node4,node6
xcm:parameter
ycm:parameter
zcm:parameter
rxcm:passive
rycm:passive
rzcm:passive
Num. Coplanar Sets:0
Num. Sym. Sets:0
node1
x:fixed,0
y:fixed,0
z:fixed,0
Num. Ext. Forces:0
node2
x:passive
y:passive
z:passive
Num. Ext. Forces:0
node3
x:fixed,0.896575472168053
y:fixed,0
z:fixed,0
Num. Ext. Forces:0
node4
x:passive
y:passive
z:passive
Num. Ext. Forces:0
node5
x:fixed,0.448287736084027
y:fixed,0.776457135307562
z:fixed,0
Num. Ext. Forces:0
node6
x:passive
y:passive
z:passive
Num. Ext. Forces:0
edge2
k:fixed,42
d0:fixed,0.5
edge3
k:fixed,42
d0:fixed,0.5
edge4
k:fixed,1000
d0:actuated,(1,1.8)
edge6
k:fixed,42
d0:fixed,0.5
edge7
k:fixed,42
d0:fixed,0.5
edge8
k:fixed,1000
d0:actuated,(1,1.8)
edge10
k:fixed,42
d0:fixed,0.5
edge11
k:fixed,42
d0:fixed,0.5
edge12
k:fixed,1000
d0:actuated,(1,1.8)
Cost Func.:LengthCostFunc
